<mat-dialog-content>
    <h5 mat-dialog-title>Add Appointment</h5>
    <form #appointmentForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput placeholder="Enter patient name" [(ngModel)]="newAppointment.name" name="patientName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="newAppointment.gender" name="gender" required>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Enter phone number" [(ngModel)]="newAppointment.phone" name="phone" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Select Doctor</mat-label>
            <mat-select [(ngModel)]="newAppointment.doctor" name="doctor" required>
                <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                    {{ doctor }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="newAppointment.Status" name="status" required>
                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="Confirmed">Confirmed</mat-option>
                <mat-option value="Cancelled">Cancelled</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-secondary">Close</button>
    <button mat-button class="btn btn-primary" (click)="saveAppointment()">Save</button>
</mat-dialog-actions>
