<div class="header-container   justify-content-between ">
    <div class="menu header-icon mr1" [class.closed]="this.authServie.isSidebarClosed">
        <button class="material-icons" (click)="toggleSidebar()">menu</button>
    </div>
    <div class="logo ">
        <img src="/assets/icon/menu/logo.png" alt="Menu Icon" class="logo">
    </div>
    <div class="search">

        <div>
            <form class="search-form">
                <div class="ic10">
                    <i class="material-icons submit-button">search</i>
                </div>
                <input type="search" value="" placeholder="Search" class="search-input">
            </form>
        </div>
    </div>
    <div class="d-flex">
    <div class="profile d-flex "> <div class=" dc-userimg  "> <img src="/assets/icon/menu/Ellipse-993.png" alt="Menu Icon" class=""></div>
 {{this.authServie.getLoggedInUser().fullName}}</div>
    <div class="notifcations header-icon mr1">
        <i class="material-icons submit-button">notifications</i>
    </div>
    <div class="logout header-icon mr1" (click)="onLogout()">
        <i class="material-icons submit-button">cancel</i>
    </div>

    </div>


</div>