<div class="login-header">
    <div class="logo">
        <img ngSrc="/assets/icon/menu/logo.png" alt="Menu Icon" class="logo" height="32" width="113">
    </div>
</div>

<div class="login-bg">
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <h2 class="">Hallo!</h2>
            <p>Login</p>

            <form>
                <input type="text" id="login" class="fadeIn second" name="person" placeholder="Username" [(ngModel)]="userLoginModel.username">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password" [(ngModel)]="userLoginModel.password">
            </form>
            <button (click)="onLogin()">Go to Home</button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </div>
    </div>
</div>