/* You can add global styles to this file, and also import other style files */
html {
    background-color: #F7F8FA !important;
    font-family: sans-serif;
}

body {
    background-color: #F7F8FA !important;
    font-family: sans-serif;
}

.material-icons {

    font-size: 24px; /* Change the size */
    color: #C3CAD9; /* Change the color */
}

.mr1 {
    margin-right: 0.5rem;
}

.m2 {
    margin: 1rem;
}

.mr2 {
    margin-right: 1rem;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Main Sidebar Styling */
.sidebar {
    display: flex;
    width: 17.625rem; /* Expanded sidebar width */
    color: #7D8FB3;
    padding: 0 1rem;
    flex-direction: column;
    align-items: flex-start;
    background:  #F7F8FA;
    transition: width 0.4s ease, padding 0.4s ease, opacity 0.4s ease; /* Smoother transitions */
}

/* Collapsed Sidebar Styling */
.sidebar.closed {
    width: 75px; /* Collapsed sidebar width */
    overflow: hidden;
    align-items: center; /* Center items horizontally */
    border-right: 1px solid #EDEFF2;
    padding: 0rem 0rem;
    padding-right: 15px; /* Adjust padding for collapsed state */
    transition: width 0.4s ease, padding-right 0.4s ease; /* Ensure padding-right transitions smoothly */
}

/* Sidebar Icon Styling */
.sidebar.closed i.material-icons,
.sidebar i.material-icons {
    background-color: #ffffff; /* Icon background color */
    border-radius: 50%; /* Rounded background */
    padding: 10px; /* Padding to create circle */
    transition: background-color 0.4s ease, color 0.4s ease; /* Smooth transition for background color and icon color */
    color: #7D8FB3; /* Default icon color */
}

/* Hide Text When Sidebar is Collapsed */
.sidebar.closed span {
    opacity: 0; /* Hide text */
    visibility: hidden; /* Make text invisible */
    transition: opacity 0.4s ease, visibility 0.4s ease; /* Smooth transition for opacity and visibility */
}

/* General Text Styling */
span {
    color:  #7D8FB3;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.25rem;
    transition: opacity 0.4s ease, visibility 0.4s ease; /* Smooth transition for opacity and visibility */
}

/* Sidebar Navigation */
.sidebar-nav {
    list-style-type: none;
    width: 100%;
    padding-left: 0; /* Remove default padding */
}

.sidebar-nav li {
    margin: 0.25rem 0;
    width: 100%;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5625rem;
    padding: 0.9375rem;
    color: inherit; /* Inherit text color */
    transition: color 0.3s ease;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #575757;
}

/* Active Link Styling */
.active {
    display: flex;
    align-items: center;
    color: #3EC1CD !important;
    line-height: 2.5625rem !important;
    border-radius: 0.625rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.sidebar.closed .active {
    background: none;
    border: none;
    box-shadow: none;
}

.sidebar .active i.material-icons {
    color: #3EC1CD;
}

/* Main Content */
.main-content {
    margin-left: 17.625rem; /* Adjusted to match expanded sidebar width */
    padding: 20px;
    transition: margin-left 0.4s ease; /* Smooth transition */
}

.sidebar.closed ~ .main-content {
    margin-left: 75px; /* Adjusted to match collapsed sidebar width */
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 60%; /* Full width on smaller screens */
        height: auto; /* Height adjusts to content */
        position: relative; /* Relative position for stacking */
        padding: 0; /* Reset padding */
        transform: none; /* Reset transform for mobile view */
    }

    .mt-4 {
        margin-top: 2rch;
    }

    .sidebar.closed {
        width: 0;

        padding: 0;
        padding-right: 0;
        border: none;
        margin: 0;
    }


    .sidebar-nav {
        text-align: center; /* Center navigation items */
        display: flex;
        flex-direction: row; /* Make navigation items horizontal */
        justify-content: space-around; /* Evenly space items */
    }

    .sidebar-nav li {
        margin: 0.5rem 0;
    }

    .sidebar-nav li a {
        padding: 0.75rem; /* Adjust padding for smaller screens */
        font-size: 0.875rem; /* Slightly smaller font */
    }

    .sidebar.closed span {
        opacity: 1; /* Ensure text is visible */
        visibility: visible; /* Ensure text is visible */
    }

    .main-content {
        margin-left: 0; /* Remove left margin */
        padding-top: 60px; /* Adjust padding if necessary */
    }

    .icon-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
}

@media screen and (max-width: 480px) {


    .sidebar-nav {
        flex-direction: column; /* Stack navigation items vertically */
    }

    .sidebar-nav li {
        margin: 0.25rem 0; /* Reduce margin for smaller screens */
    }

    .sidebar-nav li a {
        padding: 0.5rem; /* Further reduce padding */
    }
}


.breadcrumb {
    background-color: #f7f8fa !important;
}

.bg-primary-subtle {
    background-color: #e9ecef !important;
}

.morning-user {
    padding: 4px 0px 25px 25px;
}

.morning-user h2 {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 900;
}

.morning-user h2 span {

    font-size: 26px;
    line-height: 2rem;
    color: #164768;
}

.morning-user p {
    font-size: 15px;
    font-weight: 500;
    color: rgba(51, 52, 72, 0.5);
    margin-bottom: 0;
    display: flex;
}

.morning-user p .material-icons {

    color: #10BD67;
    margin-right: 4px
}

.position-blk {
    position: relative;
}

.morning-img img {
    position: absolute;
    bottom: 0;
}

.good-morning-blk {
    border-radius: 12px;
    position: relative;
    z-index: 9;
}

.btn-primary {
    color: #fff;
    background-color: #3EC1CD !important;
    border-color: #3EC1CD !important;
    border-radius: 32px;

}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3EC1CD !important;
    border-color: #3EC1CD !important;
    border-radius: 50px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3EC1CD;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


.pagination {
    border-radius: 50px; /* Rounded corners for pagination container */

}

.page-item:first-child .page-link {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.page-item:last-child .page-link {


    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pagination .page-item {
    border-radius: 50px; /* Rounded corners for pagination items */
}

.pagination .page-link {
    border-radius: 50px; /* Rounded corners for page links */
    padding: 0.5rem 1rem; /* Add padding for better appearance */
    margin: 0.1rem; /* Small margin between items */
}

.pagination .page-link:hover {
    background-color: #e9ecef; /* Hover effect */
}

.pagination .page-item.active .page-link {

}


.shadow {
    box-shadow: 0 0 3px #3c485826 !important;
}

.text-muted {
    color: #8492a6 !important;
}
.text-primary {
    color: #164768 !important;
}
.text-muted {
    color: #8492a6 !important;
    font-size: .9375rem !important ;
}
.chat.chat-person .on-off {
    font-size: 10px;
}
.mdi-checkbox-blank-circle:before {
    content: "\e061";
}

.mdi-set, .mdi:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font: normal normal normal 24px / 1 Material Design Icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}
.chat.chat-person .on-off {
    font-size: 10px;
}

.small, small {
    font-size: .9em;
}
.avatar.avatar-md-sm {
    height: 45px;
    width: 45px;
}

.ms-3 {
    margin-left: 1rem !important;
}

.transaction-item{
    border-bottom: 1px dashed #eee;
    padding: 1rem;
}

.b-0{
    border: none;
}

h6 {
    letter-spacing: 0 !important;
    margin: 0 0 .5em !important;
    font-size: .9375rem !important;
}

.availability-container {
    padding: 20px;
    min-height: 21.5rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}




