<div class="d-flex">


    <div class="sidebar" [class.closed]="isSidebarClosed">

        <div>
            <button class="sidebar-toggle" (click)="toggleSidebar()">Toggle</button>

        </div>
        <ul class="sidebar-nav"  >
            <div>
<!--                <span  >MAIN MENU </span>-->
                <li class=""> <a class="active">
                    <i class="material-icons mr2 ">dashboard</i>Dashboard
                </a> </li>
                <li> <a>
                    <i class="material-icons mr2">event_seat</i>Reservations</a>
                </li>
                <li>
                    <a>
                        <i class="material-icons mr2">description</i>Invoices
                    </a> </li>
                <li> <a>
                    <i class="material-icons mr2">contact_page</i>Applocations
                </a></li>
            </div>
            <div style="margin-top: 2.5rem;">
<!--                <span>SECOND MENU </span>-->
                <li class=""> <a class="">
                    <i class="material-icons mr2 ">account_circle</i>Users
                </a> </li>
                <li> <a>
                    <i class="material-icons mr2">settings</i>Settings</a>
                </li>

            </div>
        </ul>

    </div>


    <div class="container mt-4">
        <!-- Row for the 3 Cards -->

        <div class="good-morning-blk">



            <div class="row  ">
                <div class="col-md-6 ">
                    <div class="morning-user">
                        <h2>Good Morning, <span> {{this.authServie.getLoggedInUser().fullName}} </span></h2>
                        <div class =" d-flex">
                            <p>
                            <i class="material-icons"> check_circle</i>
                            </p> <span>Your last login was on {{ formattedDate }}</span>

<!--                        <div class="counter">-->
<!--                            <span id="minutes">00</span>:<span id="seconds">00</span>-->
<!--                        </div>-->
</div>


                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
<!--                        <img src="/assets/Dental-Schedule2.png" alt="Menu Icon" class="logo">-->
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Content for Card 1</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Content for Card 2</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Content for Card 3</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row for the Table -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Table</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>