<div class=" container-fluid d-flex mt-5">



    <div class="sidebar closed " [class.closed]="this.authServie.isSidebarClosed">


        <ul class="sidebar-nav">
            <div>
                <li class=""><a class="active">
                    <i class="material-icons mr2 ">dashboard</i>Dashboard
                </a></li>
                <li><a>
                    <i class="material-icons mr2">event_seat</i>Reservations</a>
                </li>
                <li>
                    <a>
                        <i class="material-icons mr2">description</i>Invoices
                    </a></li>
                <li><a>
                    <i class="material-icons mr2">contact_page</i>Applocations
                </a></li>
            </div>
            <div style="margin-top: 2.5rem;">
                <li class=""><a class="">
                    <i class="material-icons mr2 ">account_circle</i>Users
                </a></li>
                <li><a>
                    <i class="material-icons mr2">settings</i>Settings</a>
                </li>

            </div>
        </ul>

    </div>

<div class="w-100 ">
    <app-home-content>
    </app-home-content>
</div>


</div>